* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: #f9f9f9;
}
header{
    width: 100%;
    height: auto;
    background-color: blue;
    color: white;
}
.title{
    padding-left: 30px;
    font-size: 36px;
}
.start{
    font-size: 24px;
}
main{
    padding-top: 100px;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
}
/* quiz.php */
.question_box{
    font-size: 24px;
}
.answer_box{
    font-size: 20px;
    padding-top: 20px;
    width: 100%;
}
.choice_box{
    list-style: none;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
li {
    margin-top: 5px;
}
.button{
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 18px;
}
/* check.php */
.judge_text{
    font-size: 20px;
    border: solid;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px 0px;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
}
.result_text{
    margin-top: 30px;
    font-size: 20px;
}
.return{
    margin-top: 100px;
    font-size: 24px;
}